@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  
}

/* shared styles */
.display-flex{
    display: flex;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.text-gray{
    color: #424242;
}
.text-dark-gray{
    color: #727272;
}
.text-medium-gray{
    color: rgba(114, 114, 114, 1);
}
.orange-color{
    color: #FF900E;
}
.dark-1{
    color: #131313;
}
.btn-primary{
    background-color:rgba(255, 144, 14, 1) ;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding:20px 25px;
    font-size: 1.25rem;
    margin-bottom: 3rem;
}
.display-grid{
    display: grid;
}

/* header styles */

/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;

}


.nav-item{
    list-style: none;
    margin-right: 30px;
}
.brand{
    font: 700;
    font-size: 3rem;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width: 100%;
    margin-bottom: 45px;
}
/* our features styles */
.teams{
    width: 70%;
    margin: 80px auto;
}
.team-img-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 70px;
}
.feature-title{
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 5px;
}
.quick-list{
    font-weight: 500;
}
.our-features p{
    margin-bottom:32px ;
}



@media screen and (max-width:576px) {
    .navbar, 
    .nav-links
    .teams{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: 1fr;
    }
    
}