@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  
}

/* shared styles */
.display-flex{
    display: flex;
}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.text-gray{
    color: #424242;
}
/* dark 03 */
.text-dark-gray{
    color: #727272;
}
.text-medium-gray{
    color: rgba(114, 114, 114, 1);
}
.orange-color{
    color: #FF900E;
}
.dark-1{
    color: #131313;
}
.btn-primary{
    background-color:rgba(255, 144, 14, 1) ;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding:20px 25px;
    font-size: 1.25rem;
    margin-bottom: 3rem;
}
.display-grid{
    display: grid;
}

/* header styles */

/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;

}


.nav-item{
    list-style: none;
    margin-right: 30px;
}
.brand{
    font: 700;
    font-size: 3rem;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-image{
    width: 100%;
    margin-bottom: 45px;
}
/* our features styles */
.teams{
    width: 70%;
    margin: 80px auto;
}
.team-img-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 70px;
}
.feature-title{
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 5px;
}
.quick-list{
    font-weight: 500;
}
.our-features p{
    margin-bottom:32px ;
}
/* more features section */
.more-features-container{
    width: 80%;
    margin: 0 auto;
}
.more-features-title{
    font-size: 2.7rem;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 21px;
    margin-bottom: 24px;
}
.more-features-card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06 );
    margin-bottom: 20px;
    margin-right: 146px;
}
.Experience-badge{
    width: 20rem;
    height: 12rem;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    margin-top: -77px;
    margin-left: -92px;
}
.Experience-badge h1{
    color: #FFFFFF;
    font-size: 3rem;
    margin-bottom: 0%;
}
.Experience-badge p{
    color: #FFFFFF;
    font-size: 1.5rem;
    margin-top: 0%;
}

/* some facts section styles */
.some-facts-container{
    width: 80%;
    margin: 0 auto;
    margin-top: 130px;
}    
.some-facts-title h1{
    font-size: 2.8rem;
    font-weight: 700;
}
.some-facts-cards{
    grid-template-columns: repeat(4, 1fr);
}
.some-facts-card{
    width: 240px;
    height: 240px;
    border:1px solid #FF900E;
    border-radius: 8px;
    padding: 45px 35px 60px 35px;
    text-align: center;
}
.some-facts-card img{
    width: 60px;
    height: 60px;
    margin-top: 45px;
}
.some-facts-card h3{
    font-size: 2.8rem;
    font-weight: 800;
    margin: 0 0;
}
/* our sponsors section */
.our-sponsors-section{
    width: 80%;
    margin: 180px auto;
    text-align: center;
}
.our-sponsors-section h2{
    font-size: 2.8rem;
    font-weight: 700;  
}
.our-sponsors-logos{
    grid-template-columns: repeat(5, 1fr);
    margin-top: 50px;
}
.our-sponsors-logos img{
    filter: grayscale(1);
}
/* footer section styles */
.footer-section{
    font-size: 1.2rem;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 216px;
    text-align: center;
    background-color: #FFF4E7;
    padding: 40px 419px;
    border-radius: 8px;
}
@media screen and (max-width:576px) {
    .navbar, 
    .nav-links,
    .teams,
    .more-features-container
    {
        flex-direction: column;
    }
    .some-facts-cards{
        gap: 10px;
    }
    .team-img-container,
    .some-facts-cards,
    .our-sponsors-logos{
        grid-template-columns: 1fr;
    }
    .our-features,
    .btn-primary,
    .more-features-card {
        margin: 10px auto;
        text-align: center;
    }
    .more-features-img img, 
    .Experience-badge{
        width: 100%;
        margin: 0 auto;
    }
    .our-sponsors-logos{
       gap: 20px;
    }
    .our-sponsors-logos img{
        margin: 0 auto;
    }
    .footer-section{
        display: none;
    }
}